.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #1c1c21;
  margin: 0 auto;
  max-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

