.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav{
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__logo{
  flex-grow: 2;
}

.menu__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.menu__link:hover {
  opacity: .6;
  transition: opacity .6s ease-in;
}

