.header {
  margin: 40px auto;
  max-width: 1920px ;
  width: 100%;
}

.nav {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 2fr;
  align-items: center;
  justify-content: stretch;
  margin: 0;
  padding: 0;
    list-style-type: none;
}

.menu__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.menu__link:hover {
  opacity: .6;
  transition: opacity .6s ease-in;
}

